default_language_version:
    node: 16.14.2
exclude: (?x)^(
    /
    (
    scratch_pad|
    \.venv
    )/
    )$
repos:
    # SECURITY
    - repo: https://github.com/PyCQA/bandit
      rev: '1.7.4'
      hooks:
          - id: bandit
            args: ['-x', 'tests']
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.4.0
      hooks:
          - id: detect-secrets
    # FORMATTING & MISC
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-json
          - id: check-yaml
          - id: check-case-conflict
          - id: trailing-whitespace
          - id: mixed-line-ending
            args: ['--fix=lf']
          - id: fix-byte-order-marker
          - id: check-merge-conflict
          - id: detect-private-key
          - id: detect-aws-credentials
            args:
                - --allow-missing-credentials
    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.2
      hooks:
          - id: codespell
            entry: bash -c 'codespell "$@" || true' -- # Don't block, just alert
            verbose: true
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v3.0.0-alpha.4'
      hooks:
          - id: prettier
            files: .*\.(ya?ml|json|md)$
            exclude: (?x)^(
                .pre-commit-config.yaml|
                mkdocs.yml|
                )$
    # PYTHON FORMATTING
    - repo: https://github.com/ambv/black
      rev: '22.10.0'
      hooks:
          - id: black
    - repo: https://github.com/pycqa/flake8
      rev: '5.0.4'
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.2.2
      hooks:
          - id: pyupgrade
            args: [--py36-plus]
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.3.0
      hooks:
          - id: add-trailing-comma
            args: [--py36-plus]
    - repo: https://github.com/pycqa/isort
      rev: 5.12.0
      hooks:
        - id: isort
          name: isort (python)
    # CFN CHECKS & LINTING
    - repo: https://github.com/aws-cloudformation/cfn-python-lint
      rev: v0.71.1 # The version of cfn-lint to use
      hooks:
          - id: cfn-python-lint
            files: .*\.(ya?ml)$
            exclude: (?x)^(
                .pre-commit-config.yaml|
                mkdocs.yml|
                )$|
                ^config/|
    #   # Legal Text
    # - repo: https://github.com/dontirun/text-prepender
    #   rev: v0.1.0
    #   hooks:
    #       - id: text-prepender
    #         exclude: ^[a-z\/_A-Z0-9\-]+(requirements\.txt|requirements-dev\.txt)$
    #   #  args:
    #   #    - '--text-file'
    #   #    - 'NOTICE'
